compile_commands.json
.DS_Store
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
src/CMakeFiles
src/Makefile
src/cmake_install.cmake
test/lexa
test/timur
test/kinan
test/*.ans
test/*.tar
.vs
hashcode
